@{
    ViewData["Title"] = "Yap";
}

<div style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight:bold; font-size: 30px ">
    <input id="so1" type="number"/>
    <select id="pheptinh" onchange="thaydoi()" style="text-align:center; width: 170px; height: 80px">
        <option value="" disabled selected hidden >Hãy chọn</option>
        <option value="cong">Cộng</option>
        <option value="tru">Trừ</option>
        <option value="nhan">Nhân</option>
        <option value="chia">Chia</option>
    </select>
    <input id="so2" type="number"/>
    <button onclick="bamVaoTui()">Nhấn để có kết quả!</button> <!--Button call function nhưng lại k truyền value :v như 1 trò đùa || gọi function thiếu dấu ()-->
    <div id="kq"></div>
</div>

<script>
    function thaydoi() {
        var chonTientrinh = document.getElementById("pheptinh").value;

        console.log("Bạn đã thay đổi phép tính thành phép: " + chonTientrinh);
    }
    
    function bamVaoTui() { // trong trường hợp này gọi thế này k đúng lắm vì giờ chỉ còn 1 nút| biến tienhanh nên gán trong function
        var so1 = document.getElementById('so1').value;
        var so2 = document.getElementById('so2').value;
        var pheptinh = document.getElementById('pheptinh').value; // vl ở đây gán phép tinh rồi mà ở dưới vẫn dùng biến tienhanh :v troll vietnam à

        fetch(
            '/Test/Maytinh/' + pheptinh + '?so1=' + so1 + '&so2=' + so2, // đến chịu luôn :v || gọi url đang sai 
            { method: 'POST' }
        ).then(response => { 
            if (!response.ok) {
                throw new Error('Phản hồi mạng không ổn định!');
            }
            return response.json();
        })
            .then(data => {
                document.getElementById('kq').innerHTML = 'Kết quả:' + data;
            })
            .catch(error => {
                console.error('Có vấn đề khi bạn tiến hành dùng Fetch: ', error);
            });

        console.log("Kết quả của " + so1 + " và " + so2 + " khi thực hiện phép tính " + pheptinh + " = " + kq);
    }

</script>